#root {
  max-width: 1150px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: auto;
  max-height: 24em;
  padding-right: 0em;
  margin-top: 0;
  max-width: 100%;
  will-change: filter;
  transition: filter 300ms;
}

.youtube-video {
  width: 80%;
  height: 255px;
  margin-top: 1em;
  border: none;
}

.diagram3 {
  height: auto;
  max-height: 120em;
  padding-right: 0;
  max-width: 95%;
  will-change: filter;
  transition: filter 300ms;
  margin-top: -1em;
  margin-left: 0em;
}

.diagram4 {
  height: auto;
  max-height: 100em;
  padding-right: 0;
  max-width: 85%;
  will-change: filter;
  transition: filter 300ms;
  margin-top: 4em;
  margin-left: 1em;
}

.haha {
  padding-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.haha2 {
  padding-top: 2em;
  display: block;
  text-align: left;
}

.about {
  text-align: left;
  height: auto;
  max-width: 100%;
  margin-top: -8%;
  padding-right: 2em;
}

.name {
  font-size: 3em;
  display: inline-flex;
  align-items: center;
}

.emoji {
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.routes {
  margin-top: -1%;
  font-size: 1em;
}

.technical-approach {
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: -1.7em;
}

h3 {
  font-size: 1.6em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.1em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h5 {
  font-size: 1.1em;
  margin-top: -1.8em;
  margin-bottom: 0.5em;
}

.body {
  font-size: 1em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
  font-size: 1em;
}

.left-align {
  text-align: left;
}

.read-the-docs {
  color: #888;
  font-size: 1em;
}

.console {
  background-color: #282c34;
  color: #abb2bf;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #444;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: auto;
}

@media (max-width: 1050px) {
  .haha {
    grid-template-columns: 1fr;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about,
  .about.technical-approach {
    margin: 0 auto;
    /* Centering the element */
    text-align: center;
    padding: 0 1em;
    width: 90%;
    /* Adjust the width as needed */
  }

  .name {
    font-size: 2em;
  }

  .routes {
    font-size: 0.9em;
  }

  h3,
  h4 {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  .body {
    font-size: 0.9em;
  }

  .card {
    padding: 1em;
    font-size: 0.9em;
  }
}