/* Ensuring the root container has a fixed max-width and is centered */
#root {
  max-width: 1150px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

/* General styles for other elements */
.logo {
  height: auto;
  max-height: 23em;
  padding-right: 1em;
  margin-top: -0.8em;
  max-width: 100%;
  will-change: filter;
  transition: filter 300ms;
}

.diagram3 {
  height: auto;
  max-height: 120em;
  padding-right: 0em;
  max-width: 100%;
  will-change: filter;
  transition: filter 300ms;
  margin-top: -2em;
  margin-left: -1em;
  /* Adjust this value to move the diagram up */
}

.haha {
  padding-top: 2em;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
}

.about {
  text-align: left;
  height: auto;
  max-width: 100%;
  margin-top: -8%;
}

.name {
  font-size: 3em;
}

.routes {
  margin-top: -1%;
  font-size: 1em;
}

.technical-approach {
  width: 100%;
  padding-left: 2em;
  /* Add this line to move it to the right */
  margin-top: -1.7em;
  /* Adjust this value to set the minimum distance from the image above */
}

h3 {
  font-size: 1.6em;
  margin-bottom: -1%;
}

h4 {
  font-size: 1.2em;
  /* Updated to make smaller */
  margin-bottom: 4%;
  margin-top: 4%;
}

.body {
  font-size: 1em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
  font-size: 1em;
}

.read-the-docs {
  color: #888;
  font-size: 1em;
}

/* Adjustments for smaller screens */
@media (max-width: 1050px) {
  .haha {
    grid-template-columns: 1fr;
    padding-top: 1em;
  }

  .about {
    margin-top: 0;
    text-align: center;
  }

  .name {
    font-size: 2em;
  }

  .routes {
    font-size: 0.9em;
  }

  h3,
  h4 {
    font-size: 1em;
  }

  .body {
    font-size: 0.9em;
  }

  .card {
    padding: 1em;
    font-size: 0.9em;
  }
}